@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --ct-text-size: 16px;
  --ct-line-height: 1.8;
  --ct-page-title-font-family: "Noto Serif", "Noto Serif SC", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --ls-font-family: "Noto Sans", "Noto Sans SC", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --ct-code-font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ct-background: var(--ls-primary-background-color);
  --ct-inline-code-font-size: 0.8em;
  --ct-inline-code-font-style: inherit;
  --ct-inline-code-border-radius: 2px;
  --ct-inline-code-padding: 2px 5px;
  --ct-page-font-color: var(--ls-primary-text-color);
  --ct-page-title-color: var(--ct-bold-color);
  --ct-page-title-font-size: 36px;
  --ct-page-title-line-height: 40px;
  --ct-page-title-font-weight: 600;
  --ct-page-title-font-style: normal;
  --ct-heading-font-family: var(--ct-page-title-font-family);
  --ct-heading-font-size: 25px;
  --ct-heading-font-weight: 700;
  --ct-heading-font-style: normal;
  --ct-header-height: 42px;
  --ct-topbar-backdrop: blur(20px);
  --ct-query-header-color: #fff;
  --ct-query-header-background: var(--ct-primary-color);
  --ct-guideline-color: var(--ct-bold-color-transparent);
  --ct-guideline-size: 2px;
  --ct-guideline-style: solid;
  --ct-sidebar-resizer-background: var(--ls-secondary-background-color);
  --ct-sidebar-resizer-background-hover: var(--ct-primary-color);
  --ct-bullet-size: 6px;
  --ct-bullet-color: var(--ct-bold-color);
  --ct-checkbox-border-radius: 2px;
  --ct-task-done-text-decoration: none;
}

html,
body {
  font-size: var(--ct-text-size);
  font-family: var(--ls-font-family);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: auto;
  line-height: var(--ct-line-height);
}

textarea {
  line-height: var(--ct-line-height);
}

:root.is-mac.is-electron {
  --ct-header-height: 48px;
}

/* Some tweaks on making this theme a bit more compact on mobile.
   Mobile cap is 640px */
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }

  #main-content-container {
    padding: 0;
  }

  .cp__sidebar-main-content > div {
    padding: 1px 1em 1em 1em;
    border: none;
  }

  a.title h1.title {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .custom-query {
    padding: 0 1rem;
  }
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
  .cp__header,
.cp__right-sidebar-topbar,
.sidebar-item.content > div > div:first-of-type {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: transparent;
  }
}
@supports not ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .cp__header,
.cp__right-sidebar-topbar,
.sidebar-item.content > div > div:first-of-type {
    background: var(--ct-header-bg-color);
  }
}
#app-container::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACHSURBVHgB7ddRCgIhFIbRa8wK3EH731OtQLdQCIUPDUP2IDidA4Lov4EvAoC11Frv7dhHXAIAAGAOLdZpMQAAYBYt1mkxAABgFi3WaTEAAOBHpZTUzt7ftvf47pKc8zW+sPo+pXR7XT/2W9A8AgAA/t5RW43uT9liR201uj9ri422lRYDWNETCUrqfCW92rQAAAAASUVORK5CYII=) repeat;
  background: none;
}

#main-container {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.theme-inner {
  background: var(--ls-primary-background-color);
}

#main-content-container {
  margin-top: var(--ct-header-height) !important;
}

.page {
  margin-top: 0;
}

.cp__sidebar-main-content {
  width: 100%;
}

.cp__sidebar-main-content:not([data-is-global-graph-pages=true]) > div {
  padding: 16px 32px;
}

/* Right side bar */
.cp__right-sidebar-inner {
  --ct-sidebar-padding: 0.5rem;
}

.cp__right-sidebar.is-open {
  background: var(--ct-sidebar-background);
}

.cp__right-sidebar .sidebar-item {
  margin: var(--ct-sidebar-padding) 0;
  background: transparent;
  box-shadow: none;
}

.cp__right-sidebar .sidebar-item:not(:last-of-type) {
  border-bottom: 1px solid var(--ls-border-color);
}

.cp__right-sidebar {
  color: var(--ct-sidebar-font-color);
}

.sidebar-item-list {
  padding: 0;
}

.sidebar-item.color-level .color-level {
  background: var(--color-level-1);
}

/* Right sidebar title */
.sidebar-item .ml-1:not(.text-sm) {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 4px;
  font-family: var(--ct-page-title-font-family);
}

.sidebar-item .ml-1 a {
  color: var(--ls-primary-text-color);
}

.sidebar-item.content > div > div:first-of-type {
  position: sticky;
  top: 0;
  padding: 1rem;
  margin: -1rem;
  z-index: 10;
}

.sidebar-item.content > div > div:first-of-type + div {
  margin-top: 1.5rem;
}

.cp__right-sidebar-inner .resizer {
  background: var(--ct-sidebar-resizer-background);
  width: var(--ct-sidebar-padding);
  touch-action: none;
  z-index: 2000;
  opacity: 1;
  transition: background-color 0.2s 0.1s;
}

.cp__right-sidebar-inner .resizer:hover {
  opacity: 1;
  background: var(--ct-sidebar-resizer-background-hover);
}

.cp__right-sidebar,
.cp__sidebar-main-layout {
  background-color: transparent;
}

/* Journals */
#journals .journal-item:first-child {
  margin-top: 0.5em;
}

/* Heading & Page title */
h1.title {
  margin-top: 8px;
  font-family: var(--ct-page-title-font-family);
  font-size: var(--ct-page-title-font-size);
  font-weight: var(--ct-page-title-font-weight);
  font-style: var(--ct-page-title-font-style);
  color: var(--ct-page-title-color);
  line-height: var(--ct-page-title-line-height);
  text-shadow: var(--ct-page-title-text-shadow, none);
}

a.title h1.title {
  margin-top: 0;
  text-shadow: var(--ct-page-title-text-shadow, none);
}

.ls-block h2 {
  font-family: var(--ct-heading-font-family);
  font-size: var(--ct-heading-font-size);
  font-weight: var(--ct-heading-font-weight);
  font-style: var(--ct-heading-font-style);
  color: var(--ct-heading-color);
  text-shadow: var(--ct-heading-text-shadow, none);
}

.cp__header,
.cp__right-sidebar-topbar {
  height: var(--ct-header-height);
  width: 100%;
}

.is-mac.is-electron .cp__header *,
.is-mac.is-electron .cp__right-sidebar-topbar * {
  cursor: default;
}

.cp__header::after,
.cp__right-sidebar-topbar::after {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  display: block;
  content: "";
}

.cp__header #search-field {
  height: 28px;
  padding: 0;
  font-size: 12px;
  background: transparent;
  color: var(--ls-search-icon-color, #9fa6b2);
}

.cp__header #search-field:focus {
  outline: 2px solid var(--ct-secondary-color);
}

.cp__header.electron-mac {
  height: var(--ct-header-height);
}

#search {
  padding: 0;
  align-self: stretch;
}

#search > .inner {
  display: flex;
  align-items: center;
}

#repo-switch {
  white-space: nowrap;
}

#repo-name {
  /* Show the last part of the repo instead */
  direction: rtl;
  text-align: left;
  max-width: 120px;
  line-height: 1.5;
}

.cp__right-sidebar-settings a {
  opacity: 0.6;
}
.cp__right-sidebar-settings a:hover {
  opacity: 1;
}

.ls-block :is(h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5) {
  font-family: var(--ct-page-title-font-family);
  font-weight: 500;
}

.ls-block .block-ref :is(h1, h2, h3, h4, h5) {
  font-size: 1em;
}

.ls-block :is(h1, h2, h3, h4, h5)::after {
  margin-left: 0.5rem;
  font-family: var(--ct-code-font-family);
  font-size: 0.6rem;
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  padding: var(--ct-inline-code-padding) !important;
  background: var(--ls-tertiary-background-color);
  color: var(--ct-inline-code-color);
  vertical-align: middle;
  opacity: 0.3;
}

.ls-block :is(h1, h2, h3, h4, h5):hover::after {
  opacity: 1;
}

.ls-block h1::after {
  content: "h1";
}

.ls-block h2::after {
  content: "h2";
}

.ls-block h3::after {
  content: "h3";
}

.ls-block h4::after {
  content: "h4";
}

.ls-block h5::after {
  content: "h5";
}

.ls-block :is(h3, h4, h5) {
  margin: 0.3em 0 0;
}

/* block reference */
.block-ref {
  border-radius: 2px;
  font-size: 0.95em;
  background: var(--ct-block-reference-background);
}

.block-ref:hover {
  background: var(--ct-block-reference-background-hover);
}

.block-ref:before {
  content: "#";
  color: var(--ls-active-primary-color);
  font-size: 12px;
  padding: 0 4px 0 0;
}

.block-ref .block-body {
  display: inline-block;
}

.open-block-ref-link {
  opacity: 1;
  font-family: Asap;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

/* vertical lines and bullets */
.block-children {
  border-left: var(--ct-guideline-size) var(--ct-guideline-style) var(--ct-guideline-color);
}

.bullet-container {
  width: 14px;
  height: 14px;
  transform: translateX(-1px);
}

.bullet-container .bullet {
  width: var(--ct-bullet-size);
  height: var(--ct-bullet-size);
  background-color: var(--ct-bullet-color);
  transform: scale(1.2);
}

a:hover > .bullet-container .bullet {
  opacity: 1;
}

.bullet-container.bullet-closed {
  background-color: var(--ct-bullet-closed-color);
}

.block-control svg {
  color: var(--ct-block-arrow-color);
}

.block-control:hover svg {
  filter: drop-shadow(2px 4px 6px black);
}

.ls-block .bullet {
  background-color: var(--ct-page-reference-color);
  box-shadow: 0 0 0 1px var(--ct-page-reference-color);
}

.ls-block:not(:focus-within) .bullet {
  background-color: var(--ct-bullet-color);
  box-shadow: none;
  opacity: 0.3;
  transform: scale(1);
}

/************************* 
 * Editing block threading
 *************************/
.ls-block > div > div.items-center {
  position: relative;
}

div.items-center::before,
div.items-center::after,
.ls-block::before,
.ls-block::after,
.block-content-wrapper::before {
  pointer-events: none;
}

.ls-block > div > div.items-center::before {
  content: "";
  height: 100%;
  left: -2px;
  right: 6px;
  top: calc(-50% + 1px);
  position: absolute;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 10px;
}

.blocks-container > .ls-block > div > div.items-center::before,
.blocks-container > .ls-block:focus-within > div > div.items-center::after,
.blocks-container > .block-children:focus-within > .ls-block::before {
  display: none;
}

.ls-block:focus-within > div > div.items-center::before {
  border-color: var(--ct-page-reference-color);
}

.ls-block > div > div.items-center::after {
  content: "";
  height: calc(100% - 10px);
  top: -50%;
  left: -2px;
  position: absolute;
  border-left: 2px solid transparent;
}

.ls-block:focus-within > div > div.items-center::after {
  border-color: var(--ct-page-reference-color);
}

.block-children > .ls-block::before {
  content: "";
  top: -10px;
  bottom: 0;
  border-left: 2px solid transparent;
  left: -2px;
  position: absolute;
}

.block-children:focus-within > .ls-block:not(:focus-within)::before {
  border-color: var(--ct-page-reference-color);
}

.block-children:focus-within > .ls-block:focus-within ~ .ls-block::before {
  border-color: transparent;
}

.ls-block > div > .block-content-wrapper {
  position: relative;
}

.ls-block > div > .block-content-wrapper::before {
  content: "";
  top: 1em;
  bottom: 0;
  left: -17px;
  position: absolute;
  border-left: 2px solid transparent;
}

.ls-block[haschild=true]:focus-within > div > .block-content-wrapper::before {
  border-color: var(--ct-page-reference-color);
}

.doc-mode div.items-center::before,
.doc-mode div.items-center::after,
.doc-mode .ls-block::before,
.doc-mode .ls-block::after {
  display: none;
}

/* Block oversize issue */
.block-content-wrapper {
  max-width: calc(100% - 38px);
}

.block-content-wrapper > div.flex-1 {
  width: 100%;
}

.block-content .resize {
  max-width: -webkit-fill-available;
}

/* embed */
.embed,
.embed-page,
.embed-block {
  box-shadow: 4px 4px black;
  padding: 0.75em 0.5em;
  border: 2px solid #000;
  border-radius: 8px;
  margin: 0.2em 0 0.5em;
  transition: all ease-in 0.3s;
}

:is(.embed, .embed-page, .embed-block):is(:hover, :focus-within) {
  box-shadow: 8px 8px black;
  transform: translate(-4px, -4px);
}

/* page embed */
.embed-page,
.cp__right-sidebar .embed-page {
  background: var(--ls-secondary-background-color);
}

.embed-page .embed-header .mr-3 {
  margin-right: 0;
}

.embed-page .embed-header svg path {
  fill: var(--ct-page-embed-header-color);
}

.embed-page .embed-header a.page-ref {
  font-size: 1.2em;
  font-family: var(--ct-heading-font-family);
  font-weight: var(--ct-heading-font-weight);
}

/* block embed */
.embed-block,
.cp__right-sidebar .embed-block {
  background: var(--ls-secondary-background-color);
}

/* lists */
ol > li::marker {
  font-family: Asap;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.block-body ol > li::marker,
.block-body ol > li > p {
  /* Hopefully this wont break anything ... */
  display: inline;
}

.block-body dl,
.block-body ol,
.block-body ul {
  margin-bottom: 0.5em;
}

/* Bold */
b,
strong {
  color: var(--ct-bold-color);
}

/* External links */
.external-link,
.external-link:hover {
  color: var(--ls-external-link-color);
}

.external-link:hover {
  opacity: 0.8;
}

/* highlight */
mark {
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: var(--ct-highlight-color);
  text-decoration-thickness: 4px;
  text-underline-offset: -1px;
  text-decoration-skip-ink: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--ct-code-font-family);
  font-size: 0.8em;
}

/* inline code */
:not(pre) > code {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  padding: var(--ct-inline-code-padding) !important;
  background: var(--ls-tertiary-background-color);
  color: var(--ct-inline-code-color);
  vertical-align: text-bottom;
  margin-right: 2px;
}

/* Tags */
a.tag {
  border: 1px solid currentColor;
  background-color: var(--ct-block-reference-background);
  padding: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.6;
  font-size: 0.8em;
}

a.tag:hover {
  background-color: var(--ct-block-reference-background-hover);
}

/* Block with-bg-color */
.with-bg-color {
  border-radius: 4px;
}

/* Page properties */
.page-properties, .block-properties {
  margin: 0 0 0.5em -8px;
  font-size: 0.8em;
  background: var(--ls-secondary-background-color);
  font-family: var(--ct-code-font-family);
  width: fit-content;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  vertical-align: middle;
  background-color: var(--ct-kbd-bg-color);
  border-bottom-color: var(--ct-kbd-border-color);
  border: 1px solid var(--ct-kbd-border-color);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--ct-kbd-border-color);
  font-size: 0.8em;
}

/* Progress bar */
progress {
  vertical-align: middle;
  border-radius: 8px;
  height: 0.6em;
  width: 100px;
  border: 1px solid #000;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: var(--ls-tertiary-background-color);
}

progress::-webkit-progress-value {
  background: var(--ct-success-color);
}

.cm-s-solarized.cm-s-dark {
  background: var(--ls-secondary-background-color) !important;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background: var(--ls-tertiary-background-color) !important;
}

/* Popups */
.tippy-tooltip {
  padding: 0.5em 0;
  min-width: 100px;
  color: var(--ct-page-font-color);
  -webkit-font-smoothing: auto;
}

.tippy-tooltip > .tippy-tooltip-content {
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  background: var(--ls-primary-background-color);
  box-shadow: 8px 8px #000;
}

.tippy-wrapper,
.tippy-tooltip {
  background: transparent;
}

.tippy-tooltip-content > .tippy-wrapper {
  padding: 0 !important;
  width: fit-content !important;
  max-width: 800px;
  background: var(--ls-primary-background-color);
}

.tippy-tooltip-content > .tippy-wrapper.overflow-y-auto {
  overflow: visible;
  display: flex;
  flex-flow: column;
  max-height: calc(100vh - 20px);
}

.tippy-tooltip-content > .tippy-wrapper > .page-blocks-inner {
  overflow: auto;
  height: -webkit-fill-available;
  padding: 0.5em 1em 1em;
  margin-top: 1.5em;
  min-width: 450px;
}

.tippy-tooltip-content > .tippy-wrapper > .blocks-container {
  margin-top: 1.5em;
  padding: 0.5em 1em 1em;
  min-width: 450px;
}

.tippy-popper .arrow-regular {
  display: none;
  /* Hide the arrow */
}

/* FIXME: this is a hack to remove scroll passed to scroll bottom issue */
.tippy-popper[style*="visibility: hidden"] {
  display: none;
}

/* Page preview title */
.tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: -0.5em;
  top: -0.75em;
  z-index: 2;
  padding: 2px 1em 2px 1em !important;
  background: var(--ct-query-header-background);
  white-space: nowrap;
  font-family: var(--ct-page-title-font-family);
  font-weight: 600;
  color: var(--ct-query-header-color);
  font-style: var(--ct-inline-code-font-style) !important;
  border: 2px solid #000;
  border-radius: 4px;
  text-shadow: 1px 1px 0px black, 1px 1px 1px #888888;
}

.tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) a {
  color: var(--ct-query-header-color);
}

/* query */
.custom-query > div:first-child {
  background: var(--ls-secondary-background-color);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  position: relative;
}

.embed .custom-query > div:first-child {
  background: var(--ls-tertiary-background-color);
}

:is(#today-queries > div > div, .dsl-query .custom-query > .flex) > div.initial {
  margin-top: 12px;
}

.dsl-query .custom-query-title > .font-medium,
:not(.dsl-query) > .custom-query .custom-query-title {
  display: inline-block;
  opacity: 1;
  padding: 5px 10px 2px 10px !important;
  background: var(--ct-query-header-background);
  color: var(--ct-query-header-color);
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  text-shadow: 1px 1px 0px black, 1px 1px 1px #888888;
}

:not(.dsl-query):not(#today-queries) > .custom-query .custom-query-title {
  margin-bottom: 1.5em;
}

:not(.dsl-query) > .custom-query .custom-query-title > .flex-row {
  position: absolute;
  left: 24px;
  text-shadow: none;
  font-family: inherit;
  color: var(--ls-primary-text-color);
  font-size: 0.875rem;
  font-family: var(--ls-font-family);
}

.dsl-query > .custom-query .foldable-title .opacity-70 code {
  background: none;
  color: var(--ct-query-header-color);
}

.block-body > .custom-query .foldable-title .opacity-70 > * {
  color: var(--ct-query-header-color);
}

/* Markers */
.form-checkbox,
.form-checkbox:focus {
  --ct-checkbox-color: var(--ls-active-primary-color);
  --ct-checkbox-border-radius: 2px;
  border-radius: var(--ct-checkbox-border-radius);
  border: 2px solid var(--ct-checkbox-color) !important;
  background-color: transparent !important;
  margin-top: -3px !important;
  margin-right: 6px !important;
}

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
  background-color: var(--ct-primary-color) !important;
}

.waiting .form-checkbox,
.waiting .form-checkbox:focus {
  background-color: var(--ct-highlight-color) !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
  background-color: var(--ct-success-color) !important;
  margin-right: 5px !important;
}

.done {
  color: var(--ct-task-done-text-color);
  text-decoration: var(--ct-task-done-text-decoration);
}

.canceled::before {
  --ct-checkbox-color: var(--ls-active-primary-color);
  --ct-checkbox-border-radius: 2px;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: var(--ct-checkbox-border-radius);
  border: 2px solid var(--ct-checkbox-color) !important;
  background-color: var(--ct-warning-color);
  margin-right: 6px !important;
  vertical-align: middle;
}

a[priority],
a.priority {
  font-size: 0px;
  /* Hide text */
}

a[priority]::before {
  font-size: var(--ct-inline-code-font-size);
}

a[priority=A]::before,
a.priority[href="#/page/A" i]:before {
  content: "🔴 A";
  visibility: visible;
}

a[priority=B]::before,
a.priority[href="#/page/B" i]:before {
  content: "🟡 B";
  visibility: visible;
}

a[priority=C]::before,
a.priority[href="#/page/C" i]:before {
  content: "🟢 C";
  visibility: visible;
}

a.priority[href="#/page/A" i],
[href="#/page/B" i],
[href="#/page/C" i] {
  visibility: hidden;
  width: 1.5em;
  height: 1.5em;
  white-space: nowrap;
  text-shadow: var(--ct-tag-shadow);
  position: relative;
}

a[priority]::before,
a.priority::before {
  border-radius: 50%;
  color: var(--ls-primary-text-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 650;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  width: 38px;
  margin-left: -3px;
}

a.tooltip-priority:first-of-type::before {
  margin-left: 0.3em;
  margin-top: 0.5em;
}

.block-marker {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
}

.cp__sidebar-main-content[data-is-global-graph-pages=true] {
  --graph-height: calc(100vh - var(--ct-header-height));
  background: var(--ls-primary-background-color);
  max-height: var(--graph-height);
  margin: -1rem;
}
.cp__sidebar-main-content[data-is-global-graph-pages=true] > div {
  padding: 0;
}

#global-graph > .graph {
  height: var(--graph-height) !important;
}

.graph-filters {
  border: 2px solid #000;
  box-shadow: 4px 4px black;
  border-radius: 8px;
}
.graph-filters li:not(:last-of-type) {
  border-bottom: 1px solid #000;
}

html[data-theme=dark] #app-container::before {
  opacity: 0.05;
}

.dark-theme,
html[data-theme=dark] {
  --ct-primary-color: rgb(138, 187, 187);
  --ct-secondary-color: rgb(112, 172, 172);
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #ffc600;
  --ls-primary-background-color: #272c35;
  --ls-secondary-background-color: #313942;
  --ls-tertiary-background-color: #23364f;
  --ls-quaternary-background-color: #395982;
  --ls-primary-text-color: rgb(235, 235, 235);
  --ls-secondary-text-color: rgb(200, 200, 200);
  --ct-bold-color: #fff;
  --ct-bold-color-transparent: rgba(255, 255, 255, 0.3);
  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);
  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);
  --ct-bullet-closed-color: #555;
  --ct-block-arrow-color: rgb(165, 165, 165);
  --ct-page-reference-color: var(--ls-active-primary-color);
  --ls-icon-color: var(--ls-primary-text-color);
  --ct-block-reference-background: rgba(16, 107, 163, 0.2);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);
  --ls-page-properties-background-color: var(--ls-tertiary-background-color);
  --ls-scrollbar-foreground-color: var(--ls-secondary-background-color);
  --ct-kbd-bg-color: #0d1117;
  --ct-kbd-border-color: #6e7681;
  /* Will be used if backdrop-filter not supported */
  --ct-header-bg-color: #272c35ee;
}

.dark-theme .image-resize {
  filter: brightness(0.8) saturate(85%);
}

.white-theme,
html[data-theme=light] {
  --ct-primary-color: #106ba3;
  --ct-secondary-color: #0a4163;
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #ffc600;
  --ls-primary-background-color: #fff;
  --ls-secondary-background-color: #f7f6f4;
  --ls-tertiary-background-color: #f1eee8;
  --ls-quaternary-background-color: #e8e5de;
  --ls-primary-text-color: rgb(40, 40, 40);
  --ls-secondary-text-color: #161e2e;
  --ct-bold-color: #000;
  --ct-bold-color-transparent: rgba(0, 0, 0, 0.2);
  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);
  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);
  --ct-bullet-closed-color: rgb(200, 200, 200);
  --ct-block-arrow-color: rgb(98, 98, 98);
  --ct-page-reference-color: var(--ls-active-primary-color);
  --ls-icon-color: var(--ls-primary-text-color);
  --ct-block-reference-background: rgba(16, 107, 163, 0.1);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);
  --ls-page-properties-background-color: var(--ls-tertiary-background-color);
  --ct-kbd-bg-color: #fafbfc;
  --ct-kbd-border-color: #d1d5da;
  /* Will be used if backdrop-filter not supported */
  --ct-header-bg-color: rgba(255, 255, 255, 0.9);
}
