:root {
  --ct-guideline-color: var(--ct-bold-color-transparent);
  --ct-guideline-size: 2px;
  --ct-guideline-style: solid;

  --ct-bullet-size: 6px;
  --ct-bullet-color: var(--ct-bold-color);
}

/* block reference */
.block-ref {
  font-size: inherit;
  padding: 1px 5px 0;
  border-radius: 2px;
  background: var(--ct-block-reference-background);
}

.block-ref:hover {
  background: var(--ct-block-reference-background-hover);
}

.block-ref:before {
  content: "#";
  color: var(--ls-active-primary-color);
  font-size: 0.8em;
  padding: 0 4px 0 0;
}

.block-ref .block-body {
  display: inline-block;
}

.block-ref div {
  display: inline;
  padding: 0 0.2em;
}

.block-ref .block-ref {
  padding: 0 0 0 0.2em;
}

.open-block-ref-link {
  opacity: 1;
  font-family: Asap;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

/* vertical lines and bullets */
.block-children {
  border-left: var(--ct-guideline-size) var(--ct-guideline-style)
    var(--ct-guideline-color);
}

.bullet-container {
  width: 14px;
  height: 14px;
  transform: translateX(-1px);
}

.bullet-container .bullet {
  width: var(--ct-bullet-size);
  height: var(--ct-bullet-size);
  background-color: var(--ct-bullet-color);
  transform: scale(1.2);
}

a:hover > .bullet-container .bullet {
  opacity: 1;
}

.bullet-container.bullet-closed {
  background-color: var(--ct-bullet-closed-color);
}

.block-control svg {
  color: var(--ct-block-arrow-color);
}

.block-control:hover svg {
  filter: drop-shadow(2px 4px 6px black);
}

.ls-block .bullet {
  background-color: var(--ct-page-reference-color);
  box-shadow: 0 0 0 1px var(--ct-page-reference-color);
}

.ls-block:not(:focus-within) .bullet {
  background-color: var(--ct-bullet-color);
  box-shadow: none;
  opacity: 0.3;
  transform: scale(1);
}

.block-content-wrapper > div > .block-content {
  & > span > span > :first-child {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 10px;
      top: calc(50% - 5px);
      left: -8px;
      transform: scaleY(0.5);
      transition: all 0.2s;
      opacity: 0;
      background: var(--ct-primary-color);
      border-radius: 2px;
    }
  }

  &:hover > span > span > :first-child::before {
    opacity: 1;
    transform: scaleY(1);
  }
}


/************************* 
 * Editing block threading
 *************************/
.ls-block > div > div.items-center {
  height: 26px !important;
  position: relative;
}

div.items-center::before,
div.items-center::after,
.ls-block::before,
.ls-block::after,
.block-content-wrapper::before {
  pointer-events: none;
}

.ls-block > div > div.items-center::before {
  content: "";
  height: 100%;
  left: -2px;
  right: 7px;
  top: calc(-50% + 1px);
  position: absolute;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 10px;
}

// Don't draw threading for the root level block. Better to have a "has-parent"
.blocks-container, .blocks-container > #lazy-blocks {
  > .ls-block > div > div.items-center::before,
  > .ls-block:focus-within > div > div.items-center::after,
  > .block-children:focus-within > .ls-block::before {
    display: none;
  }
}

.ls-block:focus-within > div > div.items-center::before {
  border-color: var(--ct-page-reference-color);
}

.ls-block > div > div.items-center::after {
  content: "";
  height: calc(100% - 10px);
  top: -50%;
  left: -2px;
  position: absolute;
  border-left: 2px solid transparent;
}

.ls-block:focus-within > div > div.items-center::after {
  border-color: var(--ct-page-reference-color);
}

.block-children > .ls-block::before {
  content: "";
  top: -10px;
  bottom: 0;
  border-left: 2px solid transparent;
  left: -2px;
  position: absolute;
}

.block-children:focus-within > .ls-block:not(:focus-within)::before {
  border-color: var(--ct-page-reference-color);
}

.block-children:focus-within > .ls-block:focus-within ~ .ls-block::before {
  border-color: transparent;
}

.ls-block > div > .block-content-wrapper {
  position: relative;
}

.ls-block > div > .block-content-wrapper::before {
  content: "";
  top: 12px;
  bottom: 0;
  left: -17px;
  position: absolute;
  border-left: 2px solid transparent;
}

.ls-block[haschild="true"]:focus-within > div > .block-content-wrapper::before {
  border-color: var(--ct-page-reference-color);
}

.doc-mode div.items-center::before,
.doc-mode div.items-center::after,
.doc-mode .ls-block::before,
.doc-mode .ls-block::after {
  display: none;
}

/* Block oversize issue */
.block-content-wrapper {
  max-width: calc(100% - 38px);
}

.block-content-wrapper > div.flex-1 {
  width: 100%;
}

.block-content .resize {
  max-width: -webkit-fill-available;
}
