:root {
  --ct-bullet-size: 6px;
  --ct-block-max-width: calc(100% - 38px);
}

/* block reference */
.block-ref {
  display: inline;
  font-size: inherit;
  border-bottom-color: var(--ct-primary-color);
  border-bottom-style: dashed;
}

.block-body  {
  width: 100%;
}

.block-body .raw_html {
  max-width: 100%;
}

.block-ref .block-body {
  display: inline-block;
}

.block-ref div {
  display: inline;
}

.block-ref .flex.flex-row.justify-between {
  display: inline;
}

.block-ref .block-ref {
  display: inline;
  padding: 0 0 0 0.2em;
}

.open-block-ref-link {
  opacity: 1;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.bullet-container .bullet {
  width: var(--ct-bullet-size);
  height: var(--ct-bullet-size);
  transform: scale(1.2);
}

.bullet-container.bullet-closed .bullet {
  background-color: var(--ls-primary-background-color);
  box-shadow: 0 0 1px 2px var(--ls-block-bullet-border-color);
}

a:hover > .bullet-container .bullet {
  opacity: 1;
}

.block-control svg {
  color: var(--ct-block-arrow-color);
}

.block-control:hover svg {
  filter: drop-shadow(2px 4px 6px black);
}

.block-control .rotating-arrow {
  display: block;
  border-radius: 50%;
  background-color: var(--ls-primary-background-color);
  width: 1rem;
  height: 1rem;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 0 0 4px 2px var(--ls-primary-background-color);
}

.block-control .rotating-arrow > svg {
  margin-left: 0 !important;
}

.ls-block div.items-center {
  position: relative;
  height: 26px !important;
}

// hovering block indicator
.block-content-wrapper > div > .block-content {
  & > span > span > :first-child {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 10px;
      top: calc(50% - 5px);
      left: -8px;
      transform: scaleY(0.5);
      transition: all 0.2s;
      opacity: 0;
      background: var(--ct-primary-color);
      border-radius: 2px;
    }
  }

  &:hover > span > span > :first-child::before {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Block oversize issue */
.block-content-wrapper {
  max-width: var(--ct-block-max-width);
}

.block-content-wrapper > div.flex-1 {
  width: 100%;
}

.block-content .resize {
  max-width: -webkit-fill-available;
}
