@import url("https://fonts.googleapis.com/css2?family=Fira+Code");

// SIL Open Font License 1.1 (OFL) for Source Sans Fonts
// https://github.com/adobe-fonts/source-sans/blob/release/LICENSE.md
@import url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-sans@3.046R/source-sans-3VF.css");

// Custom Source Han Sans VF fonts for Simplified Chinese
@font-face {
  font-family: "Source Han Sans VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  // The following is 8MB even after compression
  src: url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-sans@release/Variable/WOFF2/OTF/Subset/SourceHanSansCN-VF.otf.woff2");
}

:root {
  --ct-text-size: 16px;
  --ct-line-height: 1.6;
  --ls-font-family: "Source Sans 3 VF", "Source Han Sans VF", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --ct-page-title-font-family: var(--ls-font-family);
  --ct-code-font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
  font-size: var(--ct-text-size);
  font-family: var(--ls-font-family);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: auto;
  line-height: var(--ct-line-height);
}

textarea {
  line-height: var(--ct-line-height);
}
