@import url("https://fonts.googleapis.com/css2?family=Fira+Code");

// SIL Open Font License 1.1 (OFL) for Source Sans Fonts
// https://github.com/adobe-fonts/source-sans/blob/release/LICENSE.md
@import url("https://cdn.jsdelivr.net/gh/pengx17/source-fonts@0.0.3/fonts.css");

:root {
  --ct-text-size: 16px;
  --ct-line-height: 1.6;
  --ls-font-family: "Apple Color Emoji", "Segoe UI Emoji", "Source Sans 3 VF",
    "Source Han Sans VF", sans-serif;
  --ct-page-title-font-family: var(--ls-font-family);
  --ct-code-font-family: "Fira Code", monospace;
}

html,
body {
  font-size: var(--ct-text-size);
  font-family: var(--ls-font-family);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: auto;
  line-height: var(--ct-line-height);
}

textarea {
  line-height: var(--ct-line-height);
}
