:root {
  --ct-checkbox-border-radius: 2px;
  --ct-task-done-text-decoration: none;
}

/* Markers */
.form-checkbox,
.form-checkbox:focus {
  --ct-checkbox-color: var(--ls-active-primary-color);
  --ct-checkbox-border-radius: 2px;

  border-radius: var(--ct-checkbox-border-radius);
  border: 2px solid var(--ct-checkbox-color) !important;
  background-color: transparent !important;
  margin-top: -3px !important;
  margin-right: 6px !important;
}

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
  background-color: var(--ct-block-reference-background-hover) !important;
}

.waiting .form-checkbox,
.waiting .form-checkbox:focus {
  background-color: var(--ct-highlight-color) !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
  background-color: var(--ct-success-color) !important;
  margin-right: 5px !important;
}

.done {
  color: var(--ct-task-done-text-color);
  text-decoration: var(--ct-task-done-text-decoration);
}

.canceled::before {
  --ct-checkbox-color: var(--ls-active-primary-color);
  --ct-checkbox-border-radius: 2px;

  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: var(--ct-checkbox-border-radius);
  border: 2px solid var(--ct-checkbox-color) !important;
  background-color: var(--ct-warning-color);
  margin-right: 6px !important;
  vertical-align: middle;
}

a[priority],
a.priority {
  font-size: 0px; /* Hide text */
}

a[priority]::before {
  font-size: var(--ct-inline-code-font-size);
}

a[priority="A"]::before,
a.priority[href="#/page/A" i]:before {
  content: "🔴 A";
  visibility: visible;
}

a[priority="B"]::before,
a.priority[href="#/page/B" i]:before {
  content: "🟡 B";
  visibility: visible;
}

a[priority="C"]::before,
a.priority[href="#/page/C" i]:before {
  content: "🟢 C";
  visibility: visible;
}

a.priority[href="#/page/A" i],
[href="#/page/B" i],
[href="#/page/C" i] {
  visibility: hidden;
  width: 1.5em;
  height: 1.5em;
  white-space: nowrap;
  text-shadow: var(--ct-tag-shadow);
  position: relative;
}

a[priority]::before,
a.priority::before {
  border-radius: 50%;
  color: var(--ls-primary-text-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  width: 38px;
  margin-left: -3px;
}

a.tooltip-priority:first-of-type::before {
  margin-left: 0.3em;
  margin-top: 0.5em;
}

.block-marker {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
}
