/* lists */
ol > li::marker {
  font-family: Asap;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.block-body ol > li::marker,
.block-body ol > li > p {
  /* Hopefully this wont break anything ... */
  display: inline;
}

.block-body dl,
.block-body ol,
.block-body ul {
  margin-bottom: 0.5em;
}

/* Bold */
b,
strong {
  color: var(--ct-bold-color);
}

/* External links */
.external-link,
.external-link:hover {
  color: var(--ls-external-link-color);
}

.external-link:hover {
  opacity: 0.8;
}

/* highlight */
mark {
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: var(--ct-highlight-color);
  text-decoration-thickness: 4px;
  text-underline-offset: -1px;
  text-decoration-skip-ink: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--ct-code-font-family);
  font-size: 0.8em;
}

/* inline code */

:not(pre) > code {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  padding: var(--ct-inline-code-padding) !important;
  background: var(--ls-tertiary-background-color);
  color: var(--ct-inline-code-color);
  vertical-align: text-bottom;
  margin-right: 2px;
}

/* Tags */
a.tag {
  border: 2px solid currentColor;
  padding: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.6;
  font-size: 0.8em;
}

a.tag:hover {
  background-color: var(--ct-block-reference-background-hover);
}

/* Block with-bg-color */
.with-bg-color {
  border-radius: 4px;
}

/* Page properties */
.page-properties, .block-properties {
  margin: 0 0 0.5em -8px;
  font-size: 0.8em;
  background: var(--ls-secondary-background-color);
  font-family: var(--ct-code-font-family);
  width: fit-content;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  vertical-align: middle;
  background-color: var(--ct-kbd-bg-color);
  border-bottom-color: var(--ct-kbd-border-color);
  border: 1px solid var(--ct-kbd-border-color);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--ct-kbd-border-color);
  font-size: 0.8em;
}

/* Progress bar */
progress {
  vertical-align: middle;
  border-radius: 8px;
  height: 0.6em;
  width: 100px;
  border: 1px solid #000;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: var(--ls-tertiary-background-color);
}

progress::-webkit-progress-value {
  background: var(--ct-success-color);
}

.cm-s-solarized.cm-s-dark {
  background: var(--ls-secondary-background-color) !important;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background: var(--ls-tertiary-background-color) !important;
}
