:root {
  --ct-inline-code-font-size: 0.8em;
  --ct-inline-code-font-style: inherit;
  --ct-inline-code-border-radius: 2px;
  --ct-inline-code-padding: 2px 5px;
}

/* lists */
ol > li::marker {
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.block-body ol > li::marker,
.block-body ol > li > p {
  /* Hopefully this wont break anything ... */
  display: inline;
}

.block-body dl,
.block-body ol,
.block-body ul {
  margin-bottom: 0.5em;
}

/* Bold */
b,
strong {
  color: var(--ct-bold-color);
  font-weight: 600;
}

// strong elements should inherit font colors
.with-bg-color :is(b, strong) {
  color: inherit;
}

/* External links */
.external-link,
.external-link:hover {
  color: var(--ls-external-link-color);
}

.external-link:hover {
  opacity: 0.8;
}

/* highlight */
mark {
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: var(--ct-highlight-color);
  text-decoration-thickness: 4px;
  text-underline-offset: -1px;
  text-decoration-skip-ink: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--ct-code-font-family);
  font-size: 0.8em;
}

pre {
  white-space: pre-wrap;
}

/* inline code */

:not(pre) > code {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  padding: var(--ct-inline-code-padding) !important;
  background: var(--ls-tertiary-background-color);
  color: var(--ct-inline-code-color);
  margin-right: 2px;
}

/* Tags */
a.tag {
  border: 2px solid currentColor;
  padding: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.4;
  font-size: 0.8em;
}

a.tag:hover {
  background-color: var(--ct-block-reference-background-hover);
}

/* Block with-bg-color */
.with-bg-color {
  border-radius: 4px;
}

/* Page properties */
.page-properties,
.block-properties {
  margin: 0 0 0.5em -8px;
  font-size: 0.8em;
  background: var(--ls-secondary-background-color);
  width: fit-content;
  padding-right: 2rem;
  max-width: var(--ct-block-max-width);
}

.sidebar-item-list {
  .page-properties,
  .block-properties {
    background: var(--ls-tertiary-background-color);
  }
}

/* Progress bar */
progress {
  vertical-align: middle;
  border-radius: 8px;
  height: 0.6em;
  width: 100px;
  border: 1px solid #000;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: var(--ls-tertiary-background-color);
}

progress::-webkit-progress-value {
  background: var(--ct-success-color);
}

.cm-s-solarized.cm-s-dark {
  background: var(--ls-secondary-background-color) !important;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background: var(--ls-tertiary-background-color) !important;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror {
  font-size: 12px;
  line-height: 16px;
}

.cm-s-solarized div.CodeMirror-selected {
  background: var(--ct-primary-color);
  color: var(--ls-selection-color);
}

.CodeMirror {
  background-color: var(--color-level-1);
  box-shadow: 0 0 0 2px var(--color-level-2);
}

.cm-s-solarized div.CodeMirror-selected {
  background: var(--color-level-4) !important;
}

.extensions__code > .CodeMirror {
  padding-top: 0;
}

.extensions__code-calc {
  top: 8px;
}

.extensions__code-calc-output-line {
  height: 16px;
  font-size: 12px;
}

.extensions__code-lang {
  margin-left: 4px;
  height: 28px;
  border-radius: 4px;
}
