/* Popups */
.tippy-tooltip {
  padding: 0.5em 0;
  min-width: 100px;
  color: var(--ct-page-font-color);
  -webkit-font-smoothing: auto;
}

.tippy-tooltip > .tippy-tooltip-content {
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  background: var(--ls-primary-background-color);
}

.tippy-wrapper,
.tippy-tooltip {
  background: transparent;
  font-weight: unset !important;
}

.tippy-tooltip-content > .tippy-wrapper {
  padding: 0 !important;
  width: fit-content !important;
  max-width: 800px;
  background: var(--ls-primary-background-color);
}

.tippy-tooltip-content > .tippy-wrapper.overflow-y-auto {
  overflow: visible;
  display: flex;
  flex-flow: column;

  > div:last-of-type {
    overflow: auto;
    height: -webkit-fill-available;
    padding: 1.5em 1em 1em;
    min-width: 450px;
  }
}

.tippy-popper .arrow-regular {
  display: none; /* Hide the arrow */
}

/* FIXME: this is a hack to remove scroll passed to scroll bottom issue */
.tippy-popper[style*="visibility: hidden"] {
  display: none;
}

/* Page preview title */
.tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: -0.5em;
  top: -0.75em;
  z-index: 2;
  padding: 2px 1em 2px 1em !important;
  background: var(--ct-query-header-background);
  white-space: nowrap;
  font-family: var(--ct-page-title-font-family);
  font-weight: 600;
  color: var(--ct-query-header-color);
  font-style: var(--ct-inline-code-font-style) !important;
  border: 2px solid #000;
  border-radius: 4px;
}

.tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) a {
  color: var(--ct-query-header-color);
}

// Hide add button for page preview
.tippy-popper .add-button {
  display: none;
}
