:root {
  --ct-query-header-color: var(--ls-primary-background-color);
  --ct-query-header-background: var(--ct-primary-color);
}

/* query */
.custom-query > div:first-child {
  border: 2px solid var(--ls-secondary-background-color);
  background-color: var(--ls-tertiary-background-color);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  position: relative;
}

.embed .custom-query > div:first-child {
  background: var(--ls-tertiary-background-color);
}

:is(#today-queries > div > div, .dsl-query .custom-query > .flex)
  > div.initial {
  margin-top: 12px;
}

.dsl-query .custom-query-title > .font-medium,
:not(.dsl-query) > .custom-query .custom-query-title {
  display: inline-block;
  opacity: 1;
  padding: 2px 10px !important;
  background: var(--ct-query-header-background);
  color: var(--ct-query-header-color);
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
}

:not(.dsl-query) > .custom-query .custom-query-title > .flex-row {
  position: absolute;
  left: 24px;
  text-shadow: none;
  font-family: inherit;
  color: var(--ls-primary-text-color);
  font-size: 0.875rem;
  font-family: var(--ls-font-family);
}

.dsl-query > .custom-query .foldable-title .opacity-70 code {
  background: none;
  color: var(--ct-query-header-color);
}

.block-body > .custom-query .foldable-title .opacity-70 > * {
  color: var(--ct-query-header-color);
}
