:root {
  --ct-query-header-color: var(--ls-primary-background-color);
  --ct-query-header-background: var(--ct-primary-color);
}

/* query */
.custom-query > div:first-child {
  box-shadow: 0 0 0 2px var(--color-level-2);
  background-color: var(--color-level-1);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin: 2px;
  position: relative;
}

.embed .custom-query > div:first-child {
  background: var(--ls-tertiary-background-color);
}

.dsl-query .custom-query-title > .font-medium,
:not(.dsl-query) > .custom-query .custom-query-title {
  opacity: 1;
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  width: auto;
}

:not(.dsl-query) > .custom-query .custom-query-title > .flex-row {
  position: absolute;
  left: 24px;
  text-shadow: none;
  font-family: inherit;
  color: var(--ls-primary-text-color);
  font-size: 0.875rem;
  font-family: var(--ls-font-family);
}

.dsl-query > .custom-query .foldable-title .opacity-70 code {
  background: none;
  color: var(--ct-query-header-color);
}

.block-body > .custom-query .foldable-title .opacity-70 > * {
  color: var(--ct-query-header-color);
}

// what is this? should we remove it in upstream instead?
.custom-query-title > .svg-small {
  display: none;
}
