html[data-theme="dark"] #app-container::before {
  opacity: 0.05;
}

.dark-theme,
html[data-theme="dark"] {
  --ct-primary-color: #a3cef1;
  --ct-secondary-color: #6096ba;
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #ffc600;

  --color-level-1: #313942;
  --color-level-2: #38434c;
  --color-level-3: #404b55;
  --color-level-4: #525f6b;
  --color-level-5: #606e7a;
  --color-level-6: #697885;

  --ls-primary-background-color: #272c35;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);

  --ls-border-color: var(--ls-tertiary-background-color);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: rgb(235, 235, 235);
  --ls-secondary-text-color: rgb(200, 200, 200);

  --ct-bold-color: #fff;

  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: rgb(165, 165, 165);

  --ct-page-reference-color: var(--ls-active-primary-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ct-block-reference-background: rgba(16, 107, 163, 0.2);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-scrollbar-foreground-color: var(--ls-secondary-background-color);

  /* Will be used if backdrop-filter not supported */
  --ct-header-bg-color: #272c35ee;

  --ls-selection-color: #000;
  --ls-block-highlight-color: #32445a;
}

.dark-theme .image-resize {
  filter: brightness(0.8) saturate(85%);
}
