.white-theme,
html[data-theme="light"] {
  --ct-primary-color: #106ba3;
  --ct-secondary-color: #004174;
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #ffc600;

  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: #f8f9fa;
  --ls-tertiary-background-color: #e9ecef;
  --ls-quaternary-background-color: #dee2e6;

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --color-level-4: #ced4da;
  --color-level-5: #adb5bd;

  --ls-primary-text-color: rgb(40, 40, 40);
  --ls-secondary-text-color: #161e2e;

  --ct-bold-color: #000;

  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: rgb(98, 98, 98);

  --ct-page-reference-color: var(--ls-active-primary-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ct-block-reference-background: rgba(16, 107, 163, 0.1);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-selection-color: #fff;

  /* Will be used if backdrop-filter not supported */
  --ct-header-bg-color: rgba(255, 255, 255, 0.9);
}
