:root {
  --ct-sidebar-resizer-background: var(--ls-secondary-background-color);
  --ct-sidebar-resizer-background-hover: var(--ct-primary-color);
}

#main-container {
  padding-top: var(--ct-header-height);
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.theme-inner {
  background: var(--ls-primary-background-color);
}

#main-content-container {
  margin-top: var(--ct-header-height) !important;
}

.page {
  margin-top: 0;
}

.cp__sidebar-main-content {
  width: 100%;
}

.cp__sidebar-main-content:not([data-is-global-graph-pages=true]) > div {
  padding: 16px 32px;
}

/* Right side bar */
.cp__right-sidebar-inner {
  --ct-sidebar-padding: 0.5rem;
}

.cp__right-sidebar.is-open {
  background: var(--ct-sidebar-background);
}

.cp__right-sidebar .sidebar-item {
  margin: var(--ct-sidebar-padding) 0;
  border-radius: 2px;
}

.cp__right-sidebar {
  color: var(--ct-sidebar-font-color);
}

.sidebar-item-list {
  padding-top: var(--ct-header-height);
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Right sidebar title */
.sidebar-item .ml-1:not(.text-sm) {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 4px;
  font-family: var(--ct-page-title-font-family);
}

.sidebar-item .ml-1 a {
  color: var(--ls-primary-text-color);
}

.sidebar-item.content > div > div:first-of-type {
  position: sticky;
  top: 0;
  padding: 1rem;
  margin: -1rem;
  z-index: 10;
}

.sidebar-item.content > div > div:first-of-type + div {
  margin-top: 1.5rem;
}

.cp__right-sidebar-inner .resizer {
  background: var(--ct-sidebar-resizer-background);
  width: var(--ct-sidebar-padding);
  touch-action: none;
  z-index: 2000;
  opacity: 1;
  transition: background-color 0.2s 0.1s;
}

.cp__right-sidebar-inner .resizer:hover {
  opacity: 1;
  background: var(--ct-sidebar-resizer-background-hover);
}

.cp__right-sidebar,
.cp__sidebar-main-layout {
  background-color: transparent;
}

/* Journals */
#journals .journal-item:first-child {
  margin-top: 0.5em;
}
